@media screen and (max-width: 1210px) {
	.bg-3 .li-color img {
		margin-bottom: 75px;
	}
}
@media screen and (max-width: 1199px) {
	.phones a {
		margin-right: 10px;
	}
	.search input {
		width: 430px;
	}
	.nav-menu ul li {
		font-size: 15px;
		padding: 10px 9px;
	}
	.bg-6 .left-block,
	.bg-6 .right-block {
		width: 255px;
	}
	.bg-8 .stat .author {
		width: 120px;
	}
	.bg-8 .stat .data {
		width: 130px;
		margin-top: 10px;
	}
	.bg-8 .stat .author img {
		margin-top: 20px;
	}
	.bg-8 .stat hr {
		width: 250px;
	}
	.bg-8 .stat .bot-stat img {
		width: 255px;
	}
	.blog-preview {
		width: 780px;
		margin: 0 auto 40px;
	}
	.blog-preview-home {
		width: auto;
	}
	.blog-preview-home .stat-home {
		margin: 10px;
		width: 300px;
		height: auto;
	}
	.blog-preview-home .stat-home h4 {
		height: 80px;
	}
	.bg-8 .stat-home .data-home {
		width: 150px;
	}
	.bg-8 .stat-home .author-home {
		width: 100px;
	}
	.stat-content-home {
		height: 380px;
	}
	.teach {
		height: 630px;
	}
	.content-about p {
		font-size: 1.12em;
	}
}
@media screen and (max-width: 1135px) {
	.block-shed {
		width: 310px;
	}
}
@media screen and (max-width: 1090px) {
	.bg-5 {
		background-image: none;
		height: auto;
		display: none;
	}
	.img-bg-5 {
		display: block;
	}
	.img-bg-5 img {
		width: 100%;
	}
	.bg-6 .left-block {
		margin-left: -40px;
	}
}
@media screen and (max-width: 991px) {
	.logo {
		width: 205px;
		margin: 0 auto;
	}
	.phones {
		width: 440px;
		margin: 20px auto 0;
	}
	.search {
		width: 430px;
		margin: 0 auto;
	}
	.mail {
		margin-top: 0 !important;
	}
	.nav-menu {
		max-width: 575px;
	}
	.bg-4 .text-content .programm .children ul {
		width: 195px;
	}
	.bg-4 .button {
		top: 20px;
	}
	.bg-6 .left-block {
		margin-left: 0;
	}
	.bg-7 .left-rev,
	.bg-7 .right-rev {
		max-width: 585px;
		margin: 0 auto 30px;
	}
	.bg-8 .stat {
		margin-bottom: 40px;
	}
	.bg-8 .stat .bot-stat img {
		width: auto;
	}
	.stat-text {
		margin-top: 50px;
	}
	.blog-preview-home {
		width: 320px;
		margin: 0 auto;
	}
	.stat-home .bot-stat-home {
		width: 260px;
	}
	.bg-8 .stat-home .bot-stat-home img {
		width: 260px;
	}
	.teach {
		height: 840px;
	}
	.content-about p {
		font-size: 0.85em;
	}
	.block-left-991 {
		float: left;
	}
	.block-center-991 {
		float: none;
	}
	.tab-content h4 {
		margin: 185px 0 0 0;
	}
}
@media screen and (max-width: 980px) {
	.bg-grey p, .bg-white p {
		margin-top: 25px;
	}
}
@media screen and (max-width: 900px) {
	.bg-6 .sense p {
		text-shadow: 1px 1px 2px black, 0 0 1em #000;
	}
}
@media screen and (max-width: 840px) {
	.first, .second, .third {
		padding: 15px;
	}
}
@media screen and (max-width: 825px) {
	.bg-grey p, .bg-white p {
		margin-top: 20px;
	}
}
@media screen and (max-width: 795px) {
	.el-el-1, .el-el-2,
	.el-el-3, .el-el-4,
	.el-el-5, .el-el-6,
	.el-el-7, .el-el-8 {
		display: none;
	}
}
@media screen and (max-width: 775px) {
	.snoska-sno {
		max-width: 280px;
		height: 340px;
	}
}
@media screen and (max-width: 767px) {
	.bg-3 .text-content {
		max-width: 600px;
		margin-left: 0;
	}
	.bg-4 .text-content .programm {
		background: rgba(255, 255, 255, 0.8);
	}
	.bg-9 form {
		margin: 0 auto;
	}
	.blog-preview {
		width: 390px;
		margin: 0 auto;
	}
	.teach {
		height: auto;
	}
	.circle-4 {
		right: 0px;
		top: 490px;
	}
	.block-none-991 {
		float: none;
	}
	.shed-grup {
		max-width: 420px;
		margin: 0 auto;
	}
	.shed-grup p {
		line-height: normal;
	}
	.block-child-left, .block-child-right {
		float: none;
	}
	.bg-all {
		display: none;
	}
	.bg-snoska {
		height: auto;
	}
	.snoska {
		margin-bottom: 0;
	}
	.bg-ad-2 {
		margin-top: -190px;
	}
	.bg-child-2 {
		margin-top: -190px;
	}
}
@media screen and (max-width: 617px) {
	.block-child-right, .block-child-left {
		float: none;
	}
}
@media screen and (max-width: 610px) {
	.bg-8 .stat hr {
		display: none;
	}
	.stat-text {
		margin-top: 70px;
	}
	.bg-8 .stat .bot-stat {
		width: 350px;
	}
}
@media screen and (max-width: 600px) {
	.map .left-map iframe,
	.map .right-map iframe {
		padding: 0;
	}
	.map {
		height: auto;
	}
	.map iframe {
		width: 100%;
		float: none;
	}
	footer {
		height: auto;
	}
	footer p {
		margin: 0;
	}
	.bg-9 form textarea {
		border: 1px solid #000;
	}
}
@media screen and (max-width: 550px) {
	.bg-6 .sense {
		width: 270px;
	}
	.bg-child-2 {
		height: auto;
	}
}
@media screen and (max-width: 535px) {
	.bg-ad-2 {
		padding-bottom: 80px;
	}
}
@media screen and (max-width: 512px) {
	.bg-6 {
		background-position: 0 0;
		height: auto;
	}
	.bg-6 .left-block,
	.bg-6 .right-block {
		margin: 0 auto;
		float: none;
	}
	.bg-6 h3 {
		font-size: 22px;
	}
	.bg-7 .img {
		height: auto;
	}
	.bg-7 .img img {
		width: 70px;
	}
	.bg-7 .left-rev,
	.bg-7 .right-rev {
		max-width: 395px;
		margin: 0 auto 30px;
	}
}
@media screen and (max-width: 490px) {
	.tab-name {
		font-size: 13px;
	}
}
@media screen and (max-width: 460px) {
	.tab-name {
		width: 50%;
	}
	.tab-content {
		top: 97px;
	}
	.bg-ad-2 {
		padding-bottom: 80px;
	}
	.tab-name-child {
		width: 100%;
	}
	.bg-child-2 {
		padding-bottom: 120px;
	}
	.tab-name-child-last {
		line-height: normal;
	}
	.tab-content-ad {
		top: -70px;
	}
	.bg-ad-2 {
		margin-top: -100px;
		padding-bottom: 0;
	}
	.bg-child-2 {
		margin-top: -110px;
	}
	.snocka-child {
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 440px) {
	.phones {
		width: 210px;
	}
	.phones a {
		font-size: 20px;
	}
	.search {
		width: 300px;
	}
	.search input {
		width: 285px;
	}
	.button-click {
		display: block;
		text-align: center;
		margin: 10px 0;
		font-size: 30px;
	}
	.nav-menu-click {
		display: block;
	}
	.nav-menu {
		display: none;
	}
	.nav-menu ul {
		border-bottom: 1px solid #777;
	}
	.nav-menu ul li {
		float: none;
	}
	.bg-1 h2 {
		color: #fff;
		text-align: center;
		font-size: 35px;
	}
	.bg-1 p {
		font-size: 27px;
	}
}
@media screen and (max-width: 420px) {
	.bg-8 .stat .bot-stat {
		width: 280px;
		margin: 0 auto;
	}
	.bg-8 .stat .bot-stat img {
		width: 280px;
	}
	.circle {
		display: none;
	}
}
@media screen and (max-width: 400px) {
	.bg-4 .text-content .programm .adults,
	.bg-4 .text-content .programm .children {
		float: none;
		width: 100%;
		height: 330px;
	}
	.bg-4 .text-content .programm .children {
		height: 400px;
	}
	.bg-4 .text-content .programm .adults ul li,
	.bg-4 .text-content .programm .children ul li {
		font-size: 22px;
	}
	.bg-4 .text-content .programm .children ul {
		width: 290px;
	}
	.bg-9 form {
		width: 300px;
	}
	.bg-9 form input,
	.bg-9 form textarea {
		width: 300px;
	}
}
@media screen and (max-width: 395px) {
	.bg-7 .left-rev,
	.bg-7 .right-rev {
		max-width: 300px;
	}
	.bg-8 .stat h4 {
		font-size: 16px;
	}
	.first, .second, .third {
		padding: 5px;
	}
}
@media screen and (max-width: 375px) {
	.blog-preview {
		width: 300px;
		margin: 0 auto;
	}
	.blog-preview .stat {
		margin: 15px 0;
		width: 300px;
		height: auto;
	}
	.blog-preview .stat h4 {
		height: auto;
	}
	.stat .bot-stat {
		width: 260px;
	}
	.stat .bot-stat img {
		width: 260px;
	}
	.stat .author {
		width: 110px;
	}
	.stat hr {
		display: none;
	}
	.stat-content {
		height: auto;
	}
	.stat .data {
		margin-bottom: 25px;
	}
	.first, .second, .third {
		float: none;
	}
}
@media screen and (max-width: 360px) {
	.bg-4 .text-content .programm .adults ul,
	.bg-4 .text-content .programm .children ul {
		width: 210px;
	}
	.bg-4 .text-content .programm .adults ul li,
	.bg-4 .text-content .programm .children ul li {
		font-size: 19px;
	}
	.bg-8 .stat .bot-stat {
		width: 240px;
		margin: 0 auto;
	}
	.bg-8 .stat .bot-stat img {
		width: 240px;
	}
	.bg-8 .button {
		margin: 0 auto 10px;
	}
	.snocka-child {
		height: 530px;
	}
}
@media screen and (max-width: 345px) {
	.blog-preview-home .stat-home {
		width: 280px;
	}
	.bg-8 .stat-home .author-home {
		width: 90px;
	}
}
@media screen and (max-width: 340px) {
	.bg-1 h2 {
		font-size: 25px;
	}
	.bg-1 p {
		font-size: 20px;
	}
}
@media screen and (max-width: 335px) {
	.bg-8 .stat .author {
		width: 100px;
	}
	.bg-8 .stat-home .author-home {
		width: 90px;
	}
}