body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	zoom: 0.95;
}
ul {
	padding: 0;
}
h3 {
	font-size: 32px;
	text-align: center;
	color: #1b1f5d;
	margin-top: 10px;
}
h4 {
	font-weight: bold;
	font-size: 21px;
	margin: 0;
}
a {
	color: #000;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #ca1c32;
}
.top-head {
	background-color: #f3f2f2;
	margin-bottom: 5px;
}
.lang {
	float: left;
}
.lang a {
	padding: 5px;
	margin-right: 10px;
}
.soc {
	float: right;
}
.soc img {
	padding: 5px;
}
.button {
	background-color: #1b1f5d;
	border: 1px solid #1b1f5d;
	width: 215px;
	border-radius: 25px;
}
.button:hover,
.button:focus,
.button:active {
	background-color: #fff;
	color: #1b1f5d;
}
.button a {
	color: #fff;
	text-align: center;
	display: inherit;
	padding: 10px 5px;
	font-size: 16px;
}
.button a:hover,
.button a:focus,
.button a:active {
	color: #1b1f5d;
}
.logo img {
	width: 205px;
}
.phones {
	margin-top: 20px;
}
.phones img {
	margin-right: 10px;
}
.phones a {
	margin-right: 45px;
}
.search input {
	width: 500px;
	margin: 20px auto;
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
}
.block-mail {
	width: 215px;
	margin: 0 auto;
}
.block-mail .mail {
	width: 170px;
	margin: 20px auto 15px;
}
.nav-menu {
	font-weight: bold;
	max-width: 1075px;
	margin: 0 auto;
}
.nav-menu ul {
	border-top: 1px solid #777;
}
.nav-menu ul li {
	list-style: none;
	float: left;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
}
.nav-menu ul li a {
	color: #777;
}
.nav-menu ul li a:hover,
.nav-menu ul li a:focus,
.nav-menu ul li a:active {
	color: #ca1c32;
}
.bg-1 {
	background-image: url(../img/bg-1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-1 h2 {
	color: #fff;
	text-align: center;
	font-size: 45px;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000;
	-webkit-filter: Shadow(Color=#000000, Direction=45, Strength=4);
	filter: Shadow(Color=#000000, Direction=45, Strength=4);
}
.bg-1 h1 {
	color: #fff;
	text-align: center;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000;
	-webkit-filter: Shadow(Color=#000000, Direction=45, Strength=4);
	filter: Shadow(Color=#000000, Direction=45, Strength=4);
}
.bg-1 p {
	color: #fff;
	text-align: center;
	font-size: 37px;
	margin-top: 10px;
}
.bg-1 hr {
	color: #fff;
	width: 120px;
	height: 1px;
	background-color: #fff;
}
.check {
	width: 75px;
	margin: 40px auto 0;
}
.text-content {
	max-width: 650px;
	margin: 0 auto;
}
.bg-2 {
	background-image: url(../img/bg-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-2 h3 {
	font-size: 36px;
	text-align: center;
	color: #1b1f5d;
	margin-top: 10px;
}
.bg-2 .button {
	width: 160px;
	margin: 0 auto;
	position: relative;
	top: -10px;
}
.bg-2 p {
	margin: 20px auto;
}
.bg-3 {
	background-image: url(../img/bg-3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-3 .li-color {
	margin: 40px 0;
}
.bg-3 .li-color img {
	float: left;
	margin-right: 20px;
}
.bg-3 .li-color p {
	margin: 0;
	margin-left: 75px;
}
.bg-3 .button {
	width: 185px;
	margin: 0 auto 20px;
}
.bg-4 {
	background-image: url(../img/bg-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-4 .button {
	clear: both;
	width: 170px;
	margin: 0 auto 20px;
	position: relative;
	top: 10px;
}
.bg-4 .button a {
	padding: 10px 5px;
}
.programm {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 0;
	max-width: 600px;
	margin: 0 auto 20px;
}
.programm .adults {
	float: left;
	width: 50%;
	height: 300px;
}
.programm .adults .mess {
	width: 72px;
	margin: 0	auto;
}
.programm .adults h4 {
	text-align: center;
	margin: 20px 0;
}
.programm .adults ul {
	width: 135px;
	margin: 0 auto;
}
.programm .adults ul li {
	list-style-image: url(../img/li-blue-small.png);
	text-align: center;
	margin: 15px 0;
}
.programm .children {
	float: left;
	width: 50%;
	height: 300px;
}
.programm .children .mess {
	width: 72px;
	margin: 0	auto;
}
.programm .children h4 {
	text-align: center;
	margin: 20px 0;
}
.programm .children ul {
	width: 245px;
	margin: 0 auto;
}
.programm .children ul li {
	list-style-image: url(../img/li-red-small.png);
	text-align: center;
	margin: 15px 0;
}
.bg-5 {
	background-image: url(../img/bg-5.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
}
.bg-6 {
	background-image: url(../img/bg-6.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
}
.bg-6 h3 {
	color: #fff;
	margin-bottom: 20px;
}
.bg-6 .left-block,
.bg-6 .right-block {
	float: left;
}
.bg-6 .sense {
	width: 300px;
	height: 71px;
	margin: 30px	auto;
}
.bg-6 .sense img {
	float: left;
	margin-right: 30px;
}
.bg-6 .sense p {
	color: #fff;
	line-height: 1.5;
}
.bg-7 {
	background-image: url(../img/bg-7.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-7 .button {
	width: 150px;
	margin: 20px auto;
}
.bg-7 .img {
	height: 228px;
	float: left;
	margin-right: 15px;
}
.bg-7 .left-rev,
.bg-7 .right-rev {
	width: 500px;
	margin: 0 10px;
}
.bg-7 p span {
	color: #5c5b5b;
}
.bg-8 {
	background-image: url(../img/bg-8.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-8 .button {
	width: 150px;
	margin: 40px auto;
}
.stat {
	padding: 10px 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	width: 360px;
	height: 540px;
}
.stat h4 {
	text-align: center;
}
.stat hr {
	height: 1px;
	background-color: #000;
	width: 280px;
}
.stat .author {
	float: left;
	width: 150px;
}
.stat .author img {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.stat .data {
	float: right;
	width: 150px;
}
.stat .data img {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.stat .bot-stat {
	width: 318px;
	margin: 0 auto;
}
.stat .bot-stat img {
	width: 318px;
}
.bg-9 {
	background-image: url(../img/bg-9.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-9 form {
	max-width: 400px;
	margin-bottom: 100px;
}
.bg-9 form input {
	margin: 20px 0;
	padding-left: 20px;
	width: 400px;
	height: 60px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.bg-9 form textarea {
	margin: 20px 0;
	padding-top: 20px;
	padding-left: 20px;
	width: 400px;
	height: 60px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border: none;
	resize: none;
}
.bg-9 form input.button {
	color: #fff;
	font-size: 16px;
	width: 210px;
	margin: 0 auto 20px;
	padding: 0;
	display: block;
	height: 45px;
}
.bg-9 form input.button:hover,
.bg-9 form input.button:focus,
.bg-9 form input.button:active {
	color: #1b1f5d;
}
.map {
	height: 401px;
}
.map iframe {
	width: 50%;
	height: 415px;
	float: left;
	border: 0;
}
.map .left-map iframe {
	padding-right: 1%;
}
.map .right-map iframe {
	padding-left: 1%;
}
footer {
	// height: 45px;
	background-color: #1b1f5d;
}
#home-footer p {
	margin-top: 14px;
}
footer p {
	text-align: center;
	color: #fff;
	line-height: 3.3;
	margin: 0;
}
.button-click {
	display: none;
}
.nav-menu-click,
.img-bg-5 {
	display: none;
}
.entry-footer {
	background-color: #fff;
}
.entry-footer, .page-title {
	display: none;
}
.content-page p {
	font-size: 15px;
}
.breadcrumb {
	text-align: center;
	display: list-item;
	margin-top: 20px;
	color: #fff;
}
.breadcrumb a {
	color: #fff;
}
.left-cont,
.right-cont {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	margin: 5px;
	padding: 20px 0 10px 0;
}
.left-cont p,
.right-cont p {
	text-align: center;
	margin: 5px;
}
.left-cont-img,
.right-cont-img {
	text-align: center;
}
.left-map-cont iframe,
.right-map-cont iframe {
	width: 100%;
	height: 400px;
	border: 0;
	padding: 20px 5px;
}
.teach {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	margin: 50px 0;
	padding: 20px;
	height: 580px;
}
.teach-img {
	float: left;
}
.teach-img img {
	margin-right: 5px;
}
.name-img img {
	width: 150px;
	height: 150px;
	margin-right: 40px;
	border-radius: 80px;
}
.teach h5 {
	font-size: 16px;
	margin: 0;
	margin-top: 20px;
}
.teach p .span-p-t {
	color: #1b1f5d;
	font-size: 38px;
	font-weight: 600;
}
p.teach-deviz {
	font-style: italic;
}
.teach-info {
	margin-top: 30px;
}
.circle-1 {
	position: absolute;
	top: 0;
	right: 10px;
}
.circle-2 {
	position: absolute;
	top: 140px;
	right: 10px;
}
.circle-3 {
	position: absolute;
	top: 400px;
	right: 40px;
}
.circle-4 {
	position: absolute;
	top: 600px;
	right: -10px;
}
#secondary {
	display: none;
}
.blog-preview .stat {
	float: left;
	margin: 15px;
}
.blog-preview .stat h4 {
	height: 60px;
}
.stat-content {
	height: 310px;
}
.blog-preview {
	margin-bottom: 40px;
}
#nav-posts {
	text-align: center;
}
.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	padding: 3px 4px;
	margin: 1px;
	font-size: 20px;
}
.wp-pagenavi .pages {
	display: none;
}
.entry-content {
	padding: 0 10px;
}
.check-about {
	margin-top: 0;
}
.content-about p {
	font-size: 1.4em;
}
.signature p {
	text-align: right;
	font-style: italic;
}
.img-about img {
	width: 100%;
}
.bg-about-1 {
	background-image: url(../img/bg-about-1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.bg-about-2 {
	background-image: url(../img/bg-about-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-about-content {
	padding-bottom: 40px;
	margin: 0 auto;
	max-width: 655px;
}
.bg-about-content p {
	font-size: 1.4em;
}
.bg-about-content img {
	margin-right: 15px;
}
.first, .second, .third {
	text-align: center;
	padding: 25px;
}
.first {
	float: left;
}
.second {
	float: right;
}
.third {
	clear: both;
}
.programm-about {
	max-width: 450px;
	margin-bottom: 50px;
}
.programm-about .button {
	margin: 0 auto 35px;
}
.bg-child-1 {
	background-image: url(../img/bg-child-1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-ad-1 {
	background-image: url(../img/bg-ad-1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.bg-shed {
	background-color: #f3f2f2;
}
.block-shed {
	border-top: 25px solid #1b1f5d;
	width: 370px;
	margin: 50px auto;
	background: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.block-shed img {
	width: 100%;
}
.block-for-p p {
	font-size: 16px;
	font-weight: bold;
}
.shed-child, .shed-ad, .block-shed {
	text-align: center;
}
.shed-child p, .shed-ad p {
	margin: 0;
	font-size: 16px;
}
.type-shed {
	text-transform: uppercase;
	color: #ca1c32;
	font-size: 22px;
	font-weight: bold;
}
.type-price {
	color: #1b1f5d;
	font-size: 26px;
	font-weight: bold;
}
.block-shed hr {
	width: 240px;
	background-color: #000;
	height: 1px;
	margin-top: -2px;
}
.block-child-right {
	float: right;
}
.block-child-left {
	float: left;
}
.shed-child, .shed-ad {
	margin-top: 10px;
}
.bg-shed img {
	text-align: center;
}
.bg-shed h4 {
	text-align: center;
	color: #2c215a;
}
.bg-shed-img {
	margin: 0 auto;
	width: 72px;
}
.shed-grup {
	margin-top: 20px;
}
.shed-grup span {
	font-weight: bold;
}
.shed-grup-left p {
	line-height: 2;
}
.bg-ad-2 {
	background-image: url(../img/bg-ad-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	/*background-size: 115%;*/
	background-size: cover;
	width: 100%;
	min-height: 660px;
}
.tab > div,
.tab > input {
	display: none;
}
.tab label p {
	cursor: pointer;
}
.tab > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tab > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tab > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tab > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tab > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.tab > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.tab > input:nth-of-type(7):checked ~ div:nth-of-type(7) {
	display: block;
}
.tab {
	max-width: 590px;
	margin: 0 auto;
}
.tab-name {
	width: 25%;
	float: left;
}
.tab-name p {
	text-align: center;
	padding: 15px 0;
	margin: 0;
	color: #fff;
}
.tab-name:hover,
.tab-name:active,
.tab-name:focus,
.tab-name:visited:hover {
	background-color: #ca1c32;
	color: #fff;
}
.tab-content span {
	color: #ca1c32;
}
.tab-content {
	background-color: #fff;
	position: relative;
	top: 49px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	padding-bottom: 20px;
}
.tab-content img {
	margin-right: 10px;
}
.tab-content h4 {
	font-size: 23px;
	margin: 15px 0;
	text-align: center;
	color: #1b1f5d;
	position: relative;
	top: -20px;
}
.tab-content p {
	font-size: 14px;
}
.tab-content .button {
	margin: 0 auto;
}
.content-programm img {
	margin-right: 10px;
}
.content-programm h5 {
	font-size: 20px;
	margin: 30px 0 10px;
}
.content-programm p {
	font-size: 16px;
}
.bg-snoska {
	background-color: #f3f2f2;
	height: 260px;
}
.snoska {
	padding: 5px 0;
	margin: 40px 0;
}
.snoska p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #1b1f5d;
}
.snoska p span {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #ca1c32;
}
.p-cont {
	padding: 0 30px;
}
.p-cont p {
	margin: 10px 0;
}
.bg-all {
	min-height: 350px;
}
.bg-grey {
	background-color: #f3f2f2;
	height: 115px;
	margin: 10px auto;
}
.bg-white {
	background-color: #fff;
	height: 115px;
	margin: 10px auto;
}
.bg-grey p, .bg-white p {
	font-size: 16px;
	margin: 0;
	margin-top: 35px;
}
.bg-grey img, .bg-white img {
	float: left;
	margin-right: 10px;
}
.el-el-1, .el-el-2,
.el-el-3, .el-el-4,
.el-el-5, .el-el-6,
.el-el-7, .el-el-8 {
	position: absolute;
}
.el-el-1 {
	top: -30px;
	left: -50px;
}
.el-el-2 {
	top: -30px;
	right: 0;
}
.el-el-3 {
	top: -65px;
	left: -100px;
}
.el-el-4 {
	top: -30px;
	right: -70px;
}
.el-el-5 {
	top: -30px;
	left: -50px;
}
.el-el-6 {
	top: -30px;
	right: -30px;
}
.el-el-7 {
	top: -30px;
	left: -100px;
}
.el-el-8 {
	top: -50px;
	right: -50px;
}
.bg-white-2 {
	height: 90px;
}
.snoska-sno {
	max-width: 800px;
	height: 120px;
	margin: 0 auto;
}
.snoska-sno div {
	float: left;
	margin: 0 50px;
}
.snoska-sno div p {
	text-align: center;
}
.in-img {
	width: 66px;
	margin: 0 auto;
}
.gru-img img {
	margin-bottom: 20px;
}
.snocka-child {
	background-color: #f3f2f2;
	padding: 10px 0;
	margin-bottom: 50px;
}
.bg-child-2 {
	background-image: url(../img/bg-child-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 590px;
	padding-bottom: 80px;
}
.text-center {
	text-align: center;
	font-size: 16px !important;
	margin: -20px auto 20px;
	font-weight: bold;
	color: #1b1f5d;
}
.tab-name-child {
	width: 33.33%;
}
.tab-name-child p {
	padding: 5px 0;
}
.tab-name-child-last {
	line-height: 3;
}